{% extends 'base.html' %}

{% block content %}
    <h1>Detalhes do Animal: {{ animal.nome }}</h1>

    <ul>
        <li><strong>Espécie:</strong> {{ animal.especie }}</li>
        <li><strong>Raça:</strong> {{ animal.raca|default:"Não especificada" }}</li>
        <li><strong>Data de Nascimento:</strong> {{ animal.data_nascimento|default:"Desconhecida" }}</li>
        <li><strong>Dono:</strong> <a href="{% url 'dono_detail' animal.dono.pk %}">{{ animal.dono.nome }}</a></li>
    </ul>

    <br>
    <a href="{% url 'animal_edit' animal.pk %}" class="btn">Editar Animal</a>
    <a href="{% url 'animal_list' %}">Voltar à lista</a>
{% endblock %}